* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family:  'Source Code Pro', monospace;
	background: #f7f7f7;
	margin: 30px;
	font-size: 14px;
	line-height: 1.8;
}


/*---TEXT---*/

h1, h2, h3, h4, h5, h6, p {
	font-weight: 400;
}

h1 {
	color: #212121;
	
}

h2 {
	color: #212121;
	font-size: 16px;
	font-weight: 700;
	}


p {
	font-size: 14px;
	line-height: 1.8;
	}

footer p {
	text-align: center;
	color: #757575;
}

/*grid*/


.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 0px;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	max-width: 1200px;
}


/*---hero area---*/



.hero {
	
	max-width: 1200px;
	
}

.hero h1 {
	grid-column: 1 / span 4;
	font-size: 35px;
	font-weight: 700;
	margin-top: 5rem;
}

.hero p {
	grid-column: 2 / span 4;
}

.hero img {
	grid-column: 7 / span 4;
	width: 100%;
	box-shadow: 20px 20px 0 #DBDBDB;
	margin-top: -12rem;
}

.logo img {
	width: 30px;

}


/*list*/

.grid h2 {
	grid-column: 1 / span 2;
	align-self: end;
}

.list {
	background: #fff;
	padding: 12rem 0;
	margin-top: -5rem;

}

.list ul {
	grid-column: 2 / span 8;
	column-count: 3;
	color: #757575;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	-webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
  	column-gap: 80px;

}

.list ul li {
	list-style: none;
	padding: .7rem 0;
	line-height: 1.5;
}

.reading {
	color: #FE0066;
}

.reading::before, .reading::after  {
	content: url(../media/squiggle.svg);
	position: absolute;
}

.reading::before {
	margin-left: -30px;
}
.reading::after {
	margin-left: 5px;
}

.read {
	color: #1B14F5;
	text-decoration: underline;
	/*text-decoration-skip: edges;*/
}

.author {
	font-size: 13px;
}

form {
	display: grid;
    grid-column: 1 / span 10;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

form .input {
	display: flex;
	flex-direction: column;
}
form label {
	font-size: 11px;
}
form input {
	height: 50px;
	border: 1px solid #eee;
	padding: 1rem;
	transition: outline-color .3s linear;
	outline: 0px solid transparent;
}

form input:focus, #submit-form:active, #submit-form:focus {
	outline: 1px solid #1B14F5;
	/*outline: none;*/
}

#submit-form {
	grid-column: 1 / span 10;
    background: #eee;
    border: none;
    color: #1B14F5;
    padding: 0;
    margin-top: 1.5rem;
    /*border: 1px solid #ddd;*/
    height: 50px;
    transition: background .3s ease-in-out;
	}

#submit-form:hover {
	background: #1B14F5;
	color: #fff;
}

.hidden {
	visibility: hidden;
}


#thanks {
	grid-column: 1 / span 10;
	text-align: center;
}









