* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family:  'PT Mono', monospace;

}


/*---TEXT---*/

h1, h2, h3, h4, h5, h6, p {
	font-weight: 400;
}

h1 {
	color: #212121;
	font-size: 16px;
	
}

h2 {
	color: #676767;
	font-size: 14px;
	}


p {
	font-size: 14px;
	line-height: 1.8;
	}

/*---COVER---*/

.split {
	display: flex;
	justify-content: bottom;
	height: 100vh;
	align-items: flex-end;
	}

	.split .image {
		flex-basis: 50%;
		object-fit: cover;
		height: 100vh;
		}

	.split .info {
		flex-basis: 50%;
		padding: 6rem;
		}	

		.split .info p {
			color: #676767;
			margin-left: 4rem;
			margin-top: 5rem;
			}

.cover .image{
	background-image: url("../media/cover.jpg");
	height: 100vh;
	}



.logo {
	position: absolute;
	z-index: 100;
	left: 1rem;
	top: 1rem;
	}

	.logo img {
		width: 1.2rem;
		}

.previous, .next {
	width: 15px;
	position: absolute;
	bottom: 20px;
	}

.previous {
	left: 20px;
	fill: #fff;
	}

.next {
	right: 20px;
	fill: #ccc;
	}	

/*---GRID---*/

main {
	margin: 6rem auto;
	}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 40px;
	grid-auto-rows: minmax(100px, auto);
	color: #333;
	}


article {
    opacity: 0;
    transition: opacity .8s ease-in-out;

	}

.fadeIn {
    opacity: 1;
	}


/*---IMAGES---*/

.grid .image {
	transition: opacity .2s ease-in-out;
	position: relative;
	
}
/*
.grid .image::after {
	content: "";
	background: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .1;
	transition: opacity .3s ease-in-out;
}

.grid .image:hover::after {
	opacity: 0;
}*/



.image {
	background-size: cover;
	background-position: center;
	width: 100%;
	}

.grid .pinebarrens {
	 grid-column: 2 / span 4;
	}	

	.pinebarrens .image  {
		background-image: url("../media/pinebarrens.jpg");

		}

		.grid .pinebarrens .image {
			padding-bottom: 140%;
		}


.grid .spare {
	 grid-column: 9 / span 3;
	 margin-top: 6rem;
	}	

	.spare .image {
		background-image: url("../media/spare.jpg");
		}

		.grid .spare .image  {
			padding-bottom: 120%;
			}


.grid .nature {
	 grid-column: 5 / span 2;
	 margin-top: 7rem;
	}

	.nature .image  {
		background-image: url("../media/nature.jpg");
		}

		.grid .nature .image {
			padding-bottom: 260%;
			}

.grid .faraway {
	 grid-column: 8 / span 5;
	 margin-top: 22rem;
	}

	.faraway .image  {
		background-image: url("../media/faraway.jpg");
		}

		.grid .faraway .image {
			padding-bottom: 140%;
			}

.grid .autobio {
	 grid-column: 1 / span 5;
	 margin-top: -21rem;
	}

	.autobio .image  {
		background-image: url("../media/autobio.jpg");
		}

		.grid .autobio .image {
			padding-bottom: 120%;
			}

.grid .heart {
	 grid-column: 10 / span 3;
	 margin-top: 10rem;
	 }

	.heart .image  {
		background-image: url("../media/heart.jpg");
		}

		.grid .heart .image {
			padding-bottom: 185%;
			}

.grid .iam {
	 grid-column: 1 / span 5;
	 margin-top: -10rem;
	}

	.iam .image  {
		background-image: url("../media/iam.jpg");
		}

		.grid .iam .image {
			padding-bottom: 110%;
			}
.grid .body {
	 grid-column: 6 / span 7;
	 margin-top: 20rem;
	}

	.body .image  {
		background-image: url("../media/body.jpg");
		background-position: top center;
		}

		.grid .body .image {
			padding-bottom: 60%;
			}
.grid .homegoing {
	 grid-column: 2 / span 3;
	 margin-top: -5rem;
	}

	.homegoing .image  {
		background-image: url("../media/homegoing.jpg");
		}

		.grid .homegoing .image {
			padding-bottom: 130%;
			}
.grid .motherhood {
	 grid-column: 6 / span 2;
	 margin-top: 15rem;
	}

	.motherhood .image  {
		background-image: url("../media/motherhood.jpg");
		}

		.grid .motherhood .image {
			padding-bottom: 260%;
			}
.grid .exitwest {
	 grid-column: 9 / span 4;
	 margin-top: 40rem;
	}

	.exitwest .image  {
		background-image: url("../media/exitwest.jpg");
		}

		.grid .exitwest .image {
			padding-bottom: 130%;
			}
.grid .everything {
	 grid-column: 2 / span 4;
	 margin-top: -10rem;
	}

	.everything .image  {
		background-image: url("../media/everything.jpg");
		}

		.grid .everything .image {
			padding-bottom: 120%;
			}

/*---FOOTER---*/

.footer {
	margin-top: 1rem;
	padding: 2rem 0;
	background: #f7f7f7;
	}
	.footer p {
		text-align: center;
		font-size: .8rem;
	}



/*@media screen and (min-width: 1400px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
*/


@media screen and (max-width: 1240px) {
	.split .info  {
		padding: 3rem;
	}

	.split .info p  {
		margin-left: 3rem;
	}
@media screen and (max-width: 960px) {
	.cover {
		opacity: 1 !important;
	}
	.split {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}

	.split .info  {
		padding: 1rem;
		flex-basis: auto;
	}

	.split .info p {
		margin-left: 0;
		margin-top: 1rem;

		line-height: 1.4;
	}

	.split .image {
		height: 70vh;

	}
	.previous, .next {
		top: 65vh;
		fill: #fff;
	}

	


	main {
		margin: 2rem auto;
	}
	.grid {
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 1rem;
		margin: 0 1rem;
		}
		.grid .pinebarrens {
			 grid-column: 1 / span 4;
			}	

		.grid .spare {
			 grid-column: 3 / span 4;
			 margin-top: 0rem;
			 }

		.grid .nature {
			 grid-column: 1 / span 2;
			 margin-top: -10rem;
			 }
		.grid .faraway {
			 grid-column: 3 / span 4;
			 margin-top: 0rem;
			 }
		.grid .autobio {
			 grid-column: 1 / span 4;
			 margin-top: 0rem;
			 }

		.grid .heart {
			 grid-column: 5 / span 2;
			 margin-top: 5.5rem;

			 }
		 .grid .iam {
			 grid-column: 1 / span 3;
			 margin-top: 0rem;
				}
		.grid .body {
			 grid-column: 3 / span 4;
			 margin-top: 0rem;
				}
		.grid .homegoing {
			 grid-column: 1 / span 3;
			 margin-top: 0rem;
				}	
		.grid .motherhood {
			 grid-column: 4 / span 3;
			 margin-top: 5rem;
				}
				.grid .motherhood .image {
					padding-bottom: 200%;
				}
		.grid .exitwest{
			 grid-column: 1 / span 3;
			 margin-top: -8rem;
				}
		.grid .everything {
			 grid-column: 4 / span 3;
			 margin-top: 0rem;
				}

}

