* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family:  'Source Code Pro', monospace;
	background: #f7f7f7;
	/* margin: 30px; */
	font-size: 14px;
	line-height: 1.8;
}


/*---TEXT---*/

h1, h2, h3, h4, h5, h6, p {
	font-weight: 400;
}

h1 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}


h2 {
	font-size: 16px;
	font-weight: 700;
}
}
p {
	font-size: 14px;
	line-height: 1.8;
}



/*grid*/





/*---hero area---*/


.hero {
	height: 100vh;
	display: flex;
	align-items: center;
	align-content: center;
}


#bg {
	position: fixed;
	height: 100vh;
	width: 60%;
	margin-left: 0;
	transition: opacity, width, margin-left, background;
	transition-duration: .6s, 0s, .6s, .5s;
	transition-delay: 0s, 0s, 0s, .3s, 0s;
	background-image: url('https://lcstep.github.io/reading/media/heart.jpg');
	background-size: cover;
	background-position: top left;

}

#bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	object-position: top left;
	

}

#logo {
	width: 30px;
	
}


#logo path {
  stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
   stroke: #fff;
  fill: #fff;
	fill-opacity: 0;
  -webkit-animation: draw 2s forwards, FillIn .5s 2s ease-in forwards;
  -moz-animation: draw 2s forwards, FillIn .5s 2s ease-in forwards;
	animation: draw 2s forwards, FillIn .5s 2s ease-in forwards;

}

	@-webkit-keyframes draw {
		to {

			stroke-dashoffset: 2000;
		}
	}
  @-moz-keyframes draw {
		to {
			stroke-dashoffset: 2000;
		}
	}
	@keyframes draw {
		to {
			stroke-dashoffset: 2000;
		}
	}
	@keyframes FillIn {
	  from { fill-opacity: 0; }
	  to { fill-opacity: 1; }
}	


header {
	position: fixed;
	z-index: 100;
	display: flex;
	align-items: center;
	color: #fff;
	padding: 30px;
	align-self: flex-start;
}

h1 {
	margin-left: 20px;
}

#intro {
	color: #222;
	margin-left: auto;
	width: 40%;
	text-align: center;
	padding: 3rem;
}

/*list*/

.grid  {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	/*width: 70%;*/
	margin-left: auto;

}
.list-area {
	display: flex;
}
#book-list {
	/*grid-column: 5 / span 4;*/
	flex: 50%;
	margin-top: 10rem;
	color: #757575;
	padding: 0;
	z-index: 300;
	padding: 0 8rem;
	transition: flex .3s ease-in-out;

}

#book-list ul {
	padding: 0;
  min-height: 100vh;
}
#book-list ul li {
	list-style: none;
	padding: .7rem 0;
	line-height: 1.5;
	
}



.list-area aside {
	/*grid-column: 1 / span 3;*/
	flex: 30%;
	/*transform: translateX(-60px);*/
    opacity: 0;
    transition: opacity .6s ease-in-out,
    			transform .6s ease-in-out,
    			flex .3s ease-in-out;
}


.list-area  aside div.image {
	position: sticky;
    top: 0;
    height: 100vh;
    background-image: url('https://lcstep.github.io/reading/media/heart.jpg');
    background-size: cover;
    transition: background-image .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.list-area  aside div.image img {
	width: 100%;
}


#filter {
	color:#222;
  flex: 10%;
  padding-top: 10rem;
}
#filter ul {
  top: 5rem;
  position: sticky;
  position: -webkit-sticky;
  padding: 2rem;
  border: 3px solid #232323;
}
#filter li {
	cursor: pointer;
  list-style: none;
  transition: color .3s ease-in-out;
}

#filter li:hover {
  color: #1B14F5;
}


.detail {
	/*grid-column: 5/ span 4;*/
	flex: 50%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background:#f7f7f7;
}

.detail h1 {
	color: #212121;
	margin: 0;
}
.detail h2 {
	font-size: 14px;
	margin: 0;
}

.detail p {
	color: #444; 
	margin-top: 4rem;
}

.reading {
	color: #FE0066;
}

.reading::before {
	content: url(../media/book-pink.svg);
	position: absolute;
	width: 15px;
}

.reading::before {
	margin-left: -25px;
	margin-top: -2px;
}
.reading::after {
	margin-left: 5px;
}

.read {
	color: #1B14F5;
	cursor: pointer;
	/*text-decoration: underline;*/
	/*text-decoration-skip: edges;*/

}

.read:hover {
	text-decoration: underline;
}

.author {
	font-size: 13px;
}

.form {
	margin-top: 2rem;
}

.form h2 {
	grid-column: 2 / span 4;
}

form {
	display: grid;
	grid-column: 2 / span 4;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

form .input {
	display: flex;
	flex-direction: column;
}
form label {
	font-size: 11px;
}
form input {
	height: 50px;
	border: 1px solid #eee;
	padding: 1rem;
	transition: outline-color .3s linear;
	outline: 0px solid transparent;
}

form input:focus, #submit-form:active, #submit-form:focus {
	outline: 1px solid #1B14F5;
	/*outline: none;*/
}

#submit-form {
	grid-column: 2 / span 4;
	background: #eee;
	border: none;
	color: #1B14F5;
	padding: 0;
	margin-top: 1.5rem;
	/*border: 1px solid #ddd;*/
	height: 50px;
	transition: background .3s ease-in-out;
}

#submit-form:hover {
	background: #1B14F5;
	color: #fff;
}

.hidden {
	visibility: hidden;
}


#thanks {
	grid-column: 2 / span 4;
	text-align: center;
}


footer p {
	grid-column: 2 / span 4;
	color: #757575;
}

@media screen and (max-width: 800px) {
	#bg {
		width: 100%;
		position: absolute;

	}


	#bg img {
		object-position: bottom;
	}
	#intro {
		z-index: 100;
		width: 100%;
		color: #fff;
		margin-bottom: 6rem;
		padding: 0 4rem;
	}
	header {
		position: absolute;
    right: 0;
    left: 0;
    justify-content:center;
    bottom: 10rem;
		padding: 0;
	}
	.hero {
		align-items: center;
		align-content: center;
		flex-direction: column;
		justify-content: flex-end;

	}
  #filter {
    padding-top: 2rem;
  }
  #filter ul {
    padding: 1rem;
  }
  #book-list {
    flex: 90%;
    padding: 2rem;

  }
  
  .list-area aside { display: none; }
  
	.grid, .form, form {
		grid-template-columns: repeat(1, 1fr);
	}

		#book-list, .form, #submit-form, #thanks, form, .form h2  {
			grid-column: 1/ span 1;
		}

		.grid {
			padding: 2rem;
		}

		#book-list, .form {
			margin-top: 0;
		}
	}






