* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Georgia', serif;
	font-size: 18px;
	color: #555;
	line-height: 1.5;
}

.title {
	font-family: 'Inconsolata', sans-serif;
	top: 75vh;
	margin: 0 2vh;
	color: #fff;
	font-weight: 400;
	letter-spacing: 3px;
	position: -webkit-sticky;
	position: sticky;
	font-size: 2rem;
	z-index: 100;
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

.text a, footer a {
	text-decoration: none;
	color: #555;
	border-bottom: 1px solid #aaa;
	transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
}


.text a:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

p.credit {
	font-size: 1rem;
	font-style: italic;
}

.cover {
	background: #000;

}

.cover article {
	margin: 0;
}



.audio_toggle {
	cursor: pointer;
	
}

.on img, .off img {
	width: 30px;
}

.on, .off {
	opacity: .4;
	transition: opacity .3s ease-in-out;
	-webkit-backface-visibility: hidden;
}

.on:hover, .off:hover {
	opacity: 1;
}


.off {
	display: none;
}




.hero {
	width: 100%;
	height: 180vh;
	margin-top: -130px;
	z-index: -1;
	object-fit: cover;
	opacity: .2;

}


main {
	margin: 4rem 0;
}

.text {
	width: 90%;
	margin: 0 auto;
}


.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);
}

article {
    opacity: 0;
    transition: opacity .6s ease-in-out;
    margin: 0;
	}

.fadeIn {
    opacity: 1;
	}

.grid article img {
	width: 100%;
	cursor: url(../media/zoom.png), auto;
}



.one article:nth-child(1) {
	grid-column: 1 / span 6;
}

.one article:nth-child(2) {
	grid-column: 1 / span 3;
	}

.one article:nth-child(3) {
	grid-column: 4 / span 3;
	}
.one article:nth-child(4) {
	grid-column: 2 / span 4;
	}
.one article:nth-child(5) {
	grid-column: 1 / span 3;
	}
.one article:nth-child(6) {
	grid-column: 4 / span 3;
	}
.one article:nth-child(7) {
	grid-column: 1 / span 3;
	}
.one article:nth-child(8) {
	grid-column: 4 / span 3;
	}
.one article:nth-child(9) {
	grid-column: 1 / span 6;
	}
.two article:nth-child(1) {
	grid-column: 2 / span 4;
	}
.two article:nth-child(2) {
	grid-column: 1 / span 6;
	margin-top: -10rem;
	z-index: -1;
	}
.two article:nth-child(3) {
	grid-column: 1 / span 3;
	margin-top: -10rem;
	}
.two article:nth-child(4) {
	grid-column: 4 / span 3;
	margin-top: -5rem;
	}

.two article:nth-child(5) {
	grid-column: 2 / span 4;
	}
.two article:nth-child(6) {
	grid-column: 1 / span 6;
	}
.two article:nth-child(7) {
	grid-column: 1 / span 3;
	}
.two article:nth-child(8) {
	grid-column: 4 / span 3;
	}
@media screen and (min-width: 900px) {
	.text {
		width: 600px;
	}
	.title {
		margin: 0 10vh;
	}
	article {
		margin: 6rem 0;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
		grid-auto-rows: minmax(100px, auto);
		}


			.one article:nth-child(1) {
				grid-column: 4 / span 6;
				}

			.one article:nth-child(2) {
				grid-column: 2 / span 5;
				}

			.one article:nth-child(3) {
				grid-column: 7 / span 5;
				}

			.one article:nth-child(4) {
				grid-column: 8 / span 3;
				}

			.one article:nth-child(5) {
				grid-column: 2 / span 3;
				}

			.one article:nth-child(6) {
				grid-column: 5 / span 3;
				}

			.one article:nth-child(7) {
				grid-column: 6 / span 3;
				}

			.one article:nth-child(8) {
				grid-column: 9 / span 3;
				}

			.one article:nth-child(9) {
				grid-column: 4 / span 6;
				}

			.two article:nth-child(1) {
				grid-column: 2 / span 4;
				}

			.two article:nth-child(2) {
				grid-column: 1 / span 12;
				margin-top: -20rem;
				z-index: -1;
				}

			.two article:nth-child(3) {
				grid-column: 2 / span 5;
				margin-top: -25rem;
				}

			.two article:nth-child(4) {
				grid-column: 7 / span 5;
				margin-top: -15rem;
				}

			.two article:nth-child(5) {
				grid-column: 3 / span 3;
				margin-top: 5rem;
				}

			.two article:nth-child(6) {
				grid-column: 7 / span 5;
				margin-top: 20rem;
				}


			.two  article:nth-child(7) {
				grid-column: 1 / span 6;
				margin-top: 8rem;
				}
			.two  article:nth-child(8) {
				grid-column: 7 / span 6;
				margin-top: 8rem;
				}	


}


@media screen and (min-width: 650px) {

	body {
		font-size: 20px;
	}
	.text {
		width: 600px;
	}

	.title {
		top: 85vh;
	}


}



/*FOOTER*/

footer {
	background: #212121;
	color: #777;
	padding: 2rem;
	text-align: center;
	font-size: 15px;
}

footer a { 
	color: #777;
	border-bottom: 1px solid #777;
	transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
	 }

 footer a:hover { 
	color: #fff;
	border-bottom: 1px solid #fff;
	 }

/*LIGHTBOX*/

/*inspired by https://codepen.io/anon/pen/MqmXQb*/


.lightbox-target {
	position: fixed;
	/*top: -100%;*/
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow-y: scroll;
	z-index: 300;
	}

.lightbox-target::-webkit-scrollbar {
	background-color: rgba(255,255,255,.5);
	position: fixed;
	margin-right: 1rem;
	height: 90%;
	border-radius: 10px;
	width: 8px;
}

.lightbox-target::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	border-radius: 10px;
	margin: 2px;
	width: 10px;
}



.lightbox-target img {
	margin: auto;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	height: auto;
	overflow: scroll;
	width: 100%;
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	}

a.lightbox-close {
	cursor: url(../media/close.png), auto;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	}

.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
	}

.lightbox-target:target img {
	/*max-height: 100%;*/
	max-width: 100%;
	}

.lightbox-target:target a.lightbox-close {
	/*top: 0px;*/
	}
