body {
	margin: 0;
	background-color: #091433;
	font-family: 'Lora', serif;
	color: #fff;
	transition: scroll .3s;
}

.container {
	
}

header {
	
	padding: 60px;
	text-align: center;
	}	
	h1 {
		font-weight: 400;
		margin: 0;
	}
h2 {
	margin: 0;
}

 nav {
 	padding: 20px 0;
 	font-family: 'Helvetica', sans-serif;
 	font-size: 14px;
 	}
	nav ul {
		list-style: none;
		text-align: center;
		padding: 0;
		}
		nav ul li {
			display: inline;
			margin: 0 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;
		}

a {
	color: #536CAF;
	text-decoration: none;
	transition: .3s ease;
	}
	a:hover {
		color: #3169FF;
	}

section {
	width: 90%;
	font-size: 14px;
	line-height: 22px;
	margin: 40px auto;
	border: 1px solid #384568;
	transition: flex .5s;
	display: flex;
	}
	section:hover{
		cursor: pointer;
		border: 1px solid #4574ED;
	}
	section .content {
		flex: 30%;
		}
	section h2 {
		padding: 40px 40px 10px 40px;
		font-weight: 400;
		font-size: 25px;
		}
	section p {
			padding: 10px 40px;
			}

.photo {
	left: 0;
	top: 0;
	background-size: cover;
	flex: 60%;
	transition: flex .5s;
	padding-bottom: 30%;
}	

#maui  .photo {
	background-image: url("../img/maui.jpg");
}

#reykjavik .photo {
	background-image: url("../img/reykjavik.jpg");
}
#aspen .photo {
	background-image: url("../img/aspen.jpg");
}

@media screen and (max-width: 1200px) {
   section {
   	flex-wrap: wrap;
   }
   .photo {
        flex: 40%;
        padding-bottom: 30%;
    }
    .content {
    	flex: 50%;
    }
}

@media (max-width: 960px) {
   section {
   	flex-wrap: wrap;
   }
   .photo {
        flex: 20%;
        padding-bottom: 10%;
    }
    .content {
    	flex: 70%;
    }
}

@media (max-width: 800px) {
   section {
   	flex-wrap: wrap;
   }
   .photo {
        flex: 100%;
        padding-bottom: 40%;
    }
    .content {
    	flex: 100%;
    }
}