
main {
	padding: 40px;
}

section {
	margin: 20px 0;
}

header, footer {
	height: 150px;

}
header {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 30%;
	height: 100%;›
}

nav {
	width: 55%;
}

ul {
	list-style: none;
	padding: 0;
	margin-left: 60px;
	display: flex;
	margin: 0;
	height: 100%;
}


nav ul li {
	flex: 10%;
	margin-left: 20px;
	height: 40px;
}

.big {
	height: 300px;
}

.little-container {
	display: flex;
	
}

article {
	flex: 30%;
	height: 100px;
	margin-right: 20px
}
article:last-child {
	margin-right: 0px;
}
