body {
	max-width: 720px;
	border-left: 6px solid #ddd;
	padding: 50px;
	font-family: 'Lato', sans-serif;
	color: #444;
	line-height: 1.5;

}

header {
	padding: 20px 0;
}
h1, h2, h3, h5 { 
	font-weight: 300;
	margin: 0; 
}

h3 {
	font-size: 30px;
}

h5 {
	font-size: 14px;
	color: #777;
	letter-spacing: 1px;
}

img {
	width: 100%;
}
h1, nav ul li a:hover {
	color: #dd0000;
}

h1 {
	font-size: 60px;
}

nav ul {
	padding: 0;
}
nav ul li {
	display: inline-block;
	padding: 0 20px 0 0;
}

nav ul li a {
	color: #ccc;
}