body {
	max-width: 720px;
	border-left: 6px solid #ddd;
	padding: 50px;
	font-family: 'Lato', sans-serif;
	color: #444;
	line-height: 1.5;

}

/*---TEXT STYLES---*/

h1, h2, h3, h5 { 
	font-weight: 300;
	margin: 0; 
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 30px;
}

h5 {
	font-size: 14px;
	color: #777;
	letter-spacing: 1px;
}

h1, article a, footer a {
	color: #dd0000;
}


a:hover {
	color: #000;
}


/*---HEADER---*/

header {
	padding: 20px 0;
}

/*---NAVIGATION---*/

nav ul, footer ul {
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 0 20px 0 0;
}

nav ul li a {
	color: #ccc;
}



/*---ARTICLES---*/

article {
	padding: 40px 0;
	border-bottom: 1px solid #eee;
}

.readmore { text-align: right; }
	.readmore a {
		text-decoration: none;
		font-weight: 700;
		}

img {
	width: 100%;
}



/*---FOOTER---*/

footer {
	margin: 40px 0;
}
footer ul li {
	display: inline-block;
	padding-right: 5px;
}


