* { box-sizing: border-box; }

html {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

:root{ 
	--gray-01: #444444;
	--gray-02: #888888; 
	--gray-03: #bbbbbb; 
	--gray-04: #e0e0e0; 
	
}

body {
	font-size: 17px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	
	text-align: left;
	color: var(--gray-01);
	}


main {
	
	margin: 4rem auto;
	}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	/*padding: 0 1rem;*/
}

/*--HEADER--*/

.nyt, .pp {
	height: 40px;
	width: 100%;
	display: block;
	top:0;
	
}

.nyt { 
	background: #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,.05);
	z-index: 100;
	position: relative;
	
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
 }

.pp { 
	background: #f7f7f7;
	z-index: 90;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	}

	.logo, .paidpost, .share {
		width:85px ;
	}

	.paidpost { text-align: center; }
	.share { text-align: right; }

/*--HERO--*/

.hero {
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	align-items: center;
	}

.hero.split {
	border-bottom: 1px solid var(--gray-04);
}
	.hero .headline {
		flex: 1;
		transition: flex .6s ease-in-out;
		}

		.headline h1 {
			padding-top: 2rem;
		}

	.hero .image {
		background: url("../images/hero.jpg") no-repeat center;
		background-size: cover;
		height: 100%;
		position: relative;
		}

	.hero.split .image {
		flex: 2;
		
	}




.hero.full {
	background: #000;
	text-align: left;

}

.hero.full .image {
	opacity: .75;

}
.hero.full .headline {
	position: absolute;
	bottom: 70px;
	left: 25px;
	color: #fff;
	width: 90%;
}

button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: rgba(0,0,0,.2);
	padding: 10px;
	border-radius: 3px;
	border: none;
	color: #fff;
	cursor: pointer;
}

@media only screen and (min-width: 960px) {
.hero {
	flex-direction: row;
	align-items: center;
	text-align: center;
	}

.hero .headline {
	flex: 1;
	}
.hero.split  .image {
	flex: 1;
	}

.hero.full .headline {
	width: 60%;
}	
}

/*--TEXT--*/



h1 {
		font-size: 29px;
		line-height: 34px;
		padding: 0 2rem;
	}

.summary {
	font-size: 19px;
	line-height: 25px;
	padding: 0 2rem;
	}

.blockquote {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
}

.credit {
	font-size: 10px;
	line-height: 17px;
	color: var(--gray-02);
	font-weight: 400;
}
	

.caption {
	font-size: 12px;
	line-height: 17px;
	margin: 0;
}



p.intro {
	font-weight: bold;
	font-size: 1.2rem;
	}

@media only screen and (min-width: 600px){
	h1 {
		font-size: 38px;
		line-height: 44px;
		
	}
	.summary {
		font-size: 21px;
		line-height: 27px;
		
	}
	body {
		font-size: 19px;
		line-height: 30px;
	}
	.blockquote {
		font-size: 22px;
		line-height: 30px;
	}
	.caption {
		font-size: 13px;
		line-height: 19px;
	}
	.credit {
		font-size: 12px;
		line-height: 18px;
	}

}

/*--containers--*/


.box {
	margin: .5rem 0;
	text-align: left;
	}

.row {
	margin: 1rem 0;
}
.image {
	/*max-height: 580px;*/
	width: 100%;
	overflow: hidden;
	
	}

	
.box img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.fullwidth {
	max-height: 80vh;
}

.fullwidth img  {
	width: 100%;
	object-fit: cover;
	object-position: top center;
	
}

.double {
	height: 400px;
	max-height: 400px;
}

.little {
	padding-bottom: 49%;
	}



.card {
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	color: var(--light-gray);
	}

	.card p {
		font-size: .8rem;

	}

	.card .box {
		padding-right: 2em;
	}

	.card .image {
		margin: 0;
	}



.caption.box {
	margin: 0;
}




/*--images--*/




/*--blockquote--*/



.blockquote {
	border-top: 1px solid var(--gray-01);
	border-bottom: 1px solid var(--gray-01);
	
}
