* {
	box-sizing: border-box;
}

:root{
	--warm-yellow: rgba(233,160,22,1);
	--bright-yellow: rgba(246,232,13,1);
	--dark-blue: rgba(2,1,15,1);
	--royal-blue: #3B39F4;
	--blue-gradient: linear-gradient(rgba(2,1,15,.98) 0%,  rgba(27,15,140,.95) 100%);
}

button:focus {border: 0;}

html {
	
}

body {
	font-family: 'Arsenal', sans-serif;
	overflow:hidden;
	position: absolute;
	background: #02010F;
	width: 6500px;
	height: 6000px;
	transition: background .8s ease-in-out;
	
	}


/*---HEADER---*/


header {
	width: 100vw;
	position: absolute;
	display: flex;
	background: rgba(10,10,10,.7);
	z-index: 100;
	height: 70px;
	opacity: 0;
	transition: opacity .3s ease-in-out, background .8s ease-in-out;
	padding: 10px 20px;
	align-items: center;
	justify-content: flex-end;
}

.logo {
	height: 50px;
	width: 100px;
	margin-right: auto;
}


.logo svg path {
	stroke-width: 5px;
	stroke: #fff;
	fill: #fff;
}

.toggles {
	display: flex;
    border: 1px solid var(--royal-blue);
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
   
    
	}

	.colorscheme {
		margin-right: 20px;
	}

	.toggles a {
		color: var(--royal-blue);
		text-decoration: none;
		transition: background .8s ease-in-out, color .8s ease-in-out;
		padding: 10px 20px;
		cursor: pointer;
	}

	.toggles a:hover, .toggles a.active {
		background: var(--royal-blue);
		color: #fff;

	}

	.zoom {
		font-size: 30px;
    	line-height: .5;
		
	}

    

/*---DRAGGABLE & MOMENTUM SETUP---*/

.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	
	}

	.draggable {
		position: absolute;
		width: 200%;
		height: 200%;
		cursor: grab;
		cursor: -webkit-grab;
		left: 0;
		top:0;

		}

		#video-wrapper {
			transition: transform .3s ease-in-out;
			transform-origin: center left;
			transform: scale(.6) ;
			margin-top: 70px;
			
			}


/*---SPLASH SCREEN---*/



.intro {
	width: 100vw;
	border: 15px solid rgba(150,150,250,.2);
	 background: linear-gradient(270deg, rgba(11,50,133,.95), rgba(11,9,75,.95));
	background-size: 500% 500%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	color: #fff;
	overflow: hidden;
	
	-webkit-animation: background 10s ease infinite;
	-moz-animation: background 10s ease infinite;
	  animation: background 10s ease infinite;
	}
	.intro .text {
		margin-top: 2rem;
		max-width: 90%;
		text-align: center;
		}

		.intro h1 {
			font-weight: 400;
			font-size: 3.5vw;
		}
	.intro p {
    	font-size: 1.5vw;
    	font-style: italic;
    	padding: 40px;
    	
    	}

   .intro button {
		background: transparent;
		border: 1px solid rgba(255,255,255,1);
		padding: 10px 40px;
		color: #fff;
		z-index: 100;
		opacity: .5;
		transition: opacity .3s ease-in-out;
	    }

	    .intro button:hover {
	    	opacity: 1;
	    	}
    
.sun {
	 background: radial-gradient(circle, rgba(27,15,200,.4) 00%, rgba(27,15,200,0) 50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 140vw;
  height: 140vh;
  position: absolute;
}
/* eye svg */

.intro svg {
	width: 200px;
	min-width: 80px;
	min-height: 80px;
	/*margin: 40px;*/
}

#lash1 {
		transform: translateY(50px);
	}
path {
	stroke: #3B39F4;
	stroke-dashoffset: -1500;
	stroke-dasharray: 2000;
	stroke-width: 1px;
	fill: #3B39F4;
	fill-opacity: 0;
	-webkit-animation: draw 2s forwards ;
	animation: draw 2s forwards, FillIn 1s 2s ease-in forwards;
	}

	#pupil {
		stroke: #12F6FF;
		fill: #12F6FF;

	}

	

	@-webkit-keyframes draw {
		to {

			stroke-dashoffset: 0;
		}
	}
	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}
	@keyframes FillIn {
	  from { fill-opacity: 0; }
	  to { fill-opacity: 1; }
}	

 


/*---GRID CANVAS---*/



video {
	display: none;
}

.video {
	display: inline-block;
	position: absolute;
	
	}



.caption {
	display: none;
	text-align: center;
	/*position: absolute;*/
	color: #CBCBD1;
	font-size: 20px;
	height: 20px;
	-webkit-transform: translateZ(0);

	}



   
@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}





/*
    .featherlight:last-of-type {
    	background: rgba(255,255,255,.95);
    }

    .featherlight video {
    	height: 100vh;
    }

    .featherlight .featherlight-inner {
    	display: flex;
    	justify-content: flex-start;
    	align-items: flex-end;
    	color: #000;
    }

    .featherlight p {
    	padding: 4em;
    }*/