* {
	box-sizing: border-box;
}

:root{
	--warm-yellow: rgba(233,160,22,1);
	--bright-yellow: rgba(246,232,13,1);
	--dark-blue: rgba(2,1,15,1);
	--royal-blue: rgba(27,15,140,1);
	--blue-gradient: linear-gradient(rgba(2,1,15,.98) 0%,  rgba(27,15,140,.9) 100%);
}



body {
	font-family: 'Arsenal', sans-serif;
	/*width: 10000px;
	height: 10000px;*/
	overflow-x: hidden;
	/*position: absolute;*/
	background: #02010F;
	
}

h1 { 
	font-weight: 100;  
	font-size: 6vw;
	
}
.intro {
	
	width: 100%;
	background: rgba(18,13,68,.98);
	background: var(--blue-gradient);
	height: 100%;
	position: fixed;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	z-index: 2;
  	color: #fff;
  	
}

.intro svg {
	width: 20%;
}
path {
	
	stroke: #fff;
  stroke-dashoffset: -1500;
  stroke-dasharray: 2000;
  stroke-width: 1px;
  fill: none;
  -webkit-animation: draw 3s ease-in forwards ;
          animation: draw 3s ease-in forwards ;
}
#pupil {
	stroke: #00F;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

 /*.st0{opacity:0.4;}
    .st1{fill:#0C0B0B;}
    .st2{fill:none;stroke:#0C0B0B;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:none;stroke:#0C0B0B;stroke-miterlimit:10;}
    .st4{fill:none;stroke:#0C0B0B;stroke-width:6;stroke-miterlimit:10;}
*/
.intro button {
	background: transparent;
	border: 1px solid rgba(255,255,255,1);
	padding: 10px 40px;
	color: #fff;
	margin-top: 100px;
	z-index: 100;
	opacity: .5;
	transition: opacity .3s ease-in-out;
}

.intro button:hover {
	opacity: 1;
}
.intro p {
	font-size: 20px;
	padding: 4em;
}



.sun:after {
    background: inherit;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -50%;
    -webkit-animation: Gradient 10s ease-in-out infinite;
}
.sun {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgb(246,232,13);
    background: radial-gradient(circle, rgba(246,189,13,1) 0%, rgba(246,232,13,0) 40%);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    overflow: hidden;
    background-size: 0;
    z-index: 100;
}

@-webkit-keyframes Gradient {
	0% {
		background-size: 50%;
	}
	50% {
		background-size: 150%;
	}
	100% {
		background-size: 50%;
	}
}

@-moz-keyframes Gradient {
		0% {
		background-size: 50%;
	}
	50% {
		background-size: 100%;
	}
	100% {
		background-size: 50%;
	}
}

@keyframes Gradient {
		0% {
		background-size: 50%;
	}
	50% {
		background-size: 100%;
	}
	100% {
		background-size: 50%;
	}
}



.zoom {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 30px;
    background: rgba(255,255,255,.9);
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.zoom a {
	color: #222;
	text-decoration: none;
}

main {
	transition: transform .3s ease-in-out;
	width: 6500px;
	height: 5000px;
	transform: scale(.6);
	transform-origin: top left;
	

}
main .video {
	display: inline-block;
	position: absolute;
}



main .vertical {
	/*width: 350px;*/
}

main .horizontal{
/*	width: 50%;*/
}

.horizontal video, .vertical video {
	/*transition: opacity .5s;
	width: 100%;
	height: auto;
	object-fit: cover;*/
}

.caption {
	text-align: center;
	display: none;
	transition: opacity .3s ease-in-out;
	color: #CBCBD1;
	font-size: 20px;
}

.video.snowlake {
	left: 450px;
	top: 1500px;
}

.video.chimes1 {
	left: 2100px;
	top: 300px;
}
.video.fire {
	left: 600px;
	top: 500px;
}
.video.tune {
	left: 2200px;
	top: 1300px;
	width: 1000px;
}
.video.milkweed {
	left: 2400px;
	top: 2200px;
}
.video.nh {
	left: 3000px;
	top: 400px;
	
}
.video.pines {
	left: 1200px;
	top: 1800px;
}

.video.fall {
	left: 3600px;
	top: 0px;
}

.video.blackbirds {
	left: 800px;
	top: 3400px;
}
.video.bus {
	left: 3400px;
	top: 3000px;
}
.video.cemetery {
	left: 5000px;
	top: 2200px;
}
.video.carmusic {
	left: 5200px;
	top: 1200px;
}
.video.dumbo {
	left: 5300px;
	top: 200px;
}
.video.myrtle {
	left: 3900px;
	top: 1000px;
}
.video.thunder {
	left: 3600px;
	top: 2000px;
}

.video.window1 {
	left: 2200px;
	top: 3800px;
}
.video.window2 {
	left: 4800px;
	top: 3200px;
}
.video.wyckoff {
	left: 3000px;
	top: 4000px;
}






.featherlight:last-of-type {
	background: rgba(255,255,255,.95);
}

.featherlight video {
	height: 100vh;
}

.featherlight .featherlight-inner {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	color: #000;
}

.featherlight p {
	padding: 4em;
}