body {
	font-family: 'IBM Plex Mono', monospace;
	margin: 0;
}



/*Image Grid*/

.gallery {
	display: flex;
	flex-wrap: wrap;
}
.images {
	flex: 33.3333%;
	padding-bottom: 33.3333%;
	background-size: cover;
    background-position: center center;
}

.img1 { background-image: url("images/1.jpg"); }
.img2 { background-image: url("images/2.jpg"); }
.img3 { background-image: url("images/3.jpg"); }
.img4 { background-image: url("images/4.jpg"); }
.img5 { background-image: url("images/5.jpg"); }
.img6 { background-image: url("images/6.jpg"); }
.img7 { background-image: url("images/7.jpg"); }
.img8 { background-image: url("images/8.jpg"); }
.img9 { background-image: url("images/9.jpg"); }

@media screen and (max-width: 800px) {
    .images {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        padding-bottom: 50%;
    }
}

@media screen and (max-width: 600px) {
  .images {
    flex: 100%;
    max-width: 100%;
    padding-bottom: 100%;
  }
}
