body {
			background: #222;
			color: #fff;
			font-family: 'Inconsolata', monospace;
			margin: 100px;
			background: rgba(0,0,0,1);
		}
		video {
			position: fixed;
			min-width: 100%;
			min-height: 100%;
			z-index: -1;
			opacity: 1;
			margin: 0 auto;
		}
		a {
			color: #19FEBE;
			transition: .2s;
		}
		h1 {
			font-size: 20px;
			font-weight: 400;
			display: inline;

		}
		h1 a  {
			color: #fff;
			text-decoration: none;
			background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #19FEBE 50%);
  		background-position: -0% 0;
  		background-size: 200% auto;
			transition: background-position 0.3s ease-out;
		}

		h1 a:hover {
			color: #000;
			background-position: -99.99% 0;

		}


		p {
			color: #666;
		}
header {
	margin-bottom: 50px;
}

		.back {
			float: right;
		}
		h2 {
			font-size: 18px;
			font-weight: 700;
		}
		h3 {
			font-weight: 400;
			font-size: 16px;
		}
li {
	margin: 20px 0;
}
